{% extends "Gro/base.html" %}

{% block title %} Update {% endblock %}

{% block body %}


<h1 class="top">Update Grocery Item</h1>

<div class="container">
  <form action="{% url 'update_submit' %}">
    {% csrf_token %}
  <div class="form-group">
    <label for="ItemName">Item name</label>
    <input type="text" class="form-control" id="ItemName" placeholder="Item name" name="iname">
  </div>

  <div class="form-group">
    <label for="ItemQuantity">Item quantity</label>
    <input type="text" class="form-control" id="ItemQuantity" placeholder="Item quantity" name="quant">
  </div>

  <div class="form-group">
    <label for="Status">Item status</label>
    <select class="form-control" name=status>
      <option>Select</option>
      <option>PENDING</option>
      <option>BOUGHT</option>
      <option>NOT AVAILABLE</option>
    </select>
  </div>


  <div class="form-group">
  <label for="start">
    Enter the Date:
  </label>
  <input type="date" name="date" placeholder="dd-mm-yyyy" value="" min="1997-01-01" max="2030-12-31">
  </div>


  <button type="submit" class="btn btn-danger" class="submit">Update</button>

</form>
</div>


{% endblock %}